@model StudentManagement.Models.Students


@{
    ViewData["Title"] = $"Welcome {Model.StudentName}";
}

<h1>@ViewData["Title"]</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.UserId) *@
            @* </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@* @foreach (var item in Model) { *@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.StudentName)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.UserId) *@
            @* </td> *@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=Model.StudentId }) |
                @Html.ActionLink("Details", "Details", new { id=Model.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=Model.StudentId })
                <a asp-controller="Course" asp-action="View" class="btn btn-primary">
                    View Available Courses
                </a>
                <a asp-controller="Enrollment" asp-action="MyEnrollments" class="btn btn-success">
                    View Enrolled Courses
                </a>


            </td>
        </tr>
@* } *@
    </tbody>
</table>
